@{
    ViewData["Title"] = "Library 2.0";
}
@model BooksViewModel
<div>
    <h1 class="display-4">Here Are Books</h1>
    @foreach (Book b in Model.Books)
            {
                <h3 class="font-italic">@b.Title</h3>
                <ul>
                    <li class="font-weight-bold">Author: @b.Author</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>ISBN: @b.Isbn</li>
                    <li>Classification: @b.Classification</li>
                    <li>Category: @b.Category</li>
                    <li>Page Count: @b.PageCount</li>
                    <li>Price: $@b.Price</li>
                </ul>
            }
</div>
<div pg-mdl="@Model.PageInfo" page-action="Index"></div>
